*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 10px;
}

.container{
    position: relative;
    height: 100vh;
    width: 100vw;
}


.left{
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: url(ps.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    transition: width 1.5s ease;
}

.right{
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url(xbox.jpg);
    background-size: cover;
    transition: width 1.5s ease;
}

.leftdesign {
    height: 100%;
    background-color: rgba(87, 84 , 236 , 0.7);
    position: relative;
}

.rightdesign {
    height: 100%;
    background-color: rgba(47, 46, 46, 0.8);
    position: relative;

}

 h2{
   position: absolute;
   top: 25%;
   left: 25%;
   font-size: 6rem;
   color: rgba(255, 255, 255, 1);
   font-family: Roboto, sans-serif;
   white-space: nowrap;

}

button{
    position: absolute;
    top: 38%;
    left: 35%;
    padding: 2rem;
    width: 21rem;
    border: 3px solid white;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
}

.btn1:hover{
    background-color: rgba(87, 84 , 236 , 1);
    border:rgb(87, 84 , 236) ;

}

.btn2:hover{
    background-color: green;
    border: green;

}


.container.active .left{
    width: 75%;
}

.container.active .right{
    width: 25%;
}

.container.hover .right{
    width: 75%;
}

.container.hover .left{
    width: 25%;
}



